{% extends "base.html" %}

{% block title %}Transaction Details{% endblock %}

{% block content %}

<div class="container mt-4">

    <h2>Transaction Details</h2>

    <table class="table table-bordered">

        <tr>
            <th>Date</th>
            <td>{{ transaction.transaction_date }}</td>
        </tr>

        <tr>
            <th>Type</th>
            <td>{{ transaction.transaction_type }}</td>
        </tr>

        <tr>
            <th>Category</th>
            <td>{{ transaction.category }}</td>
        </tr>

        <tr>
            <th>Amount</th>
            <td>₹ {{ transaction.amount }}</td>
        </tr>

        <tr>
            <th>Payment Method</th>
            <td>{{ transaction.payment_method }}</td>
        </tr>

        <tr>
            <th>Description</th>
            <td>{{ transaction.description|default:"-" }}</td>
        </tr>

        <tr>
            <th>Receipt</th>
            <td>

                {% if transaction.receipt %}

                    <a href="{{ transaction.receipt.url }}">
                        View Receipt
                    </a>

                {% else %}

                    No Receipt

                {% endif %}

            </td>
        </tr>

    </table>

    <a
        href="{% url 'transactions:transaction_update' transaction.pk %}"
        class="btn btn-warning">

        Edit

    </a>

    <a
        href="{% url 'transactions:transaction_list' %}"
        class="btn btn-secondary">

        Back

    </a>

</div>

{% endblock %}